extends layout

block main
  main#main(role='main')
    article.article
      header(role='banner')
        h1.main-heading!= data._name
      section.add-line-marks.add-drop-cap.decorative-hr!= data._content
      footer
        .sticky
          p
            if data._author
              svg.icon(role='img' focusable='false')
                use(xlink:href='/medias/sprites/utils.svg#quill')
              | Auteur&nbsp;: #{data._author}
          p
            svg.icon(role='img' focusable='false')
              use(xlink:href='/medias/sprites/utils.svg#calendar')
            |  Contenu publié le #{data._creation}, modifié le #{data._revision}.
          p
            svg.icon(role='img' focusable='false')
              use(xlink:href='/medias/sprites/utils.svg#info')
            != data._description
          p.keywords
            svg.icon(role='img' focusable='false')
              use(xlink:href='/medias/sprites/utils.svg#old-key')
            |  Mots clefs&nbsp;: 
            |  
            a(href='/keyword/lion') Lion
            |  • 
            a(href='/keyword/lion') Antilope
            |  • 
            a(href='/keyword/lion') Crocodile
