extends layout

block main
  main
    h1.main-heading Calendrier liturgique
    .grid2.gap
      div
        .card.flex.gap
          div
            if _calendar.date && _calendar.weekday
              p #{_calendar.date} {#{_calendar.weekday}}
            p
              if _calendar.color[0]
                .calendar-color(class='calendar-' + _calendar.color[0])
              if _calendar.color[1] && _calendar.color[1] !== _calendar.color[0]
                .calendar-color(class='calendar-' + _calendar.color[1])
              if _calendar.name && _calendar.link[0]
                a(href=_calendar.link[0])!= _calendar.name
              else if _calendar.name
                span!= _calendar.name
              else
                span no calendar
            if _calendar.p.name
              p!= _calendar.p.name
            if _calendar.type || _calendar.priority
              if _calendar.type
                p= [_calendar.type.charAt(0).toUpperCase() + _calendar.type.slice(1), _calendar.priority].filter(Boolean).join(', degré de préséance : ')
              else if !_calendar.type && _calendar.priority
                p= 'Degré de préséance : ' + _calendar.priority
            if _calendar.key
              p= 'Mots clefs : ' + [_calendar.key, _calendar.p.key].filter(Boolean).join(', ')
          if (_moonPhase || _moonPhase === 0)
            .center
              svg.size4.push(role='img' focusable='false')
                use(xlink:href='/medias/sprites/moons.svg#' + _moonPhase)
      .center
        svg.size25.decorative-svg(role='img' focusable='false')
          use(xlink:href='/medias/sprites/silos/182r-d1-1.1.svg#1')
