extends layout

block main
  main#main(role='main')
    h1.main-heading!= data._name
    .grid2.gap
      div
        h2 Serveur :
        ul
          //-li Url du site : #{data.site_url}
          li Version de Node.js : #{data._node_version}
          li Hostname : #{data._hostname}
          li Adresse IP locale : #{data._ip}
          li Architecture du processeur : #{data._arch}
          li Mémoire RAM : #{data._totalmem} Go
          li Système d'exploitation : #{data._release}
          li Os : #{data._type} (#{data._platform})
          li Chemin du répertoire personnel de l'utilisateur actuel : #{data._homedir}
          li Chemin des fichiers temporaires : #{data._tmpdir}
        h2 Client :
        ul
          li Os : #{data._user_os} (#{data._user_platform})
          li Navigateur : #{data._user_browser} (#{data._user_version})
      .center
        svg.size25.decorative-svg(role='img' focusable='false')
          use(xlink:href='/medias/sprites/silos/195v.svg#1')
    hr
    include includes/link
