extends layout

block main
  main
    h1.main-heading!= data._name
    .grid2.gap.media-s-grid1
      div
        ul
          li Id : #{data._id}
          if data._user_id
            li User id : #{data._user_id}
          li Sexe : 
            if !data._sexe
              | non renseigné
            if data._sexe == 0
              | inconnu
            if data._sexe == 1
              | homme
            else if data._sexe == 2
              | femme
            else if data._sexe == 9
              | non applicable
          if data._given_name
            li= data._given_name
          if data._additional_name
            li= data._additional_name
          if data._family_name
            li= data._family_name
          if data._usual_name
            li= data._usual_name
          if data._nickname
            li= data._nickname
          if data._prefix
            li= data._prefix
          if data._suffix
            li= data._suffix
          if data._birth_date
            li
              if data._sexe != 2
                | Né
              else
                | Née
              |  le #{data._birth_date}
              if data._birth_place_id
                |  à {#{data._birth_place_id}}
          if data._death_date
            li
              if data._sexe == ('1' || '9')
                | Décédé
              else 
                | Décédée
              |  le #{data._death_date}
              if data._death_place_id
                |  à {#{data._death_place_id}}
          if data._nationality
            li Pays : #{data._nationality}
          if data._phone
            li Téléphone : #{data._phone}
          if data._devise
            li Devise : 
              em "#{data._devise}"
        p!= data._description
      .center
        svg.size25.reverse.decorative-svg(role='img' focusable='false')
          use(xlink:href='/medias/sprites/silos/126r-d1.svg#1')
    hr
    ul.list-stripe-links.grid2
      li
        a(href='/person/1') Person 1
      li
        a(href='/person/2') Person 2
      li
        a(href='/person/3') Person 3
      li
        a(href='/person/4') Person 4
      li
        a(href='/person/5') Person 5 (request failed)
      li
        a(href='/person/xyz') Person xyz (incorrect path)
