extends layout

block main
  main
    h1.main-heading #{_name}
    ul
      if _street && _postal_code && _locality
        li Adresse : #{_street}, #{_postal_code}, #{_locality}
      else if _locality
        li Ville : #{_locality}
      if _location
        li Latitude : #{_location.y}
      if _location
        li Longitude : #{_location.x}
      if _elevation
        li Altitude : #{_elevation}
    if _location
      .gap-bottom
        #map.map(style='height:50vh' data-name='Basilique Notre-Dame-de-la-Garde' data-coords='[' + _location.y + ',' + _location.x + ']', data-zoom='15', data-color='#ff654f', data-tileserver = 'https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoib2xpdmllcmMiLCJhIjoiY2s5dnNnZWoyMDIzNDNzb2Y1dmQ4MGNtMCJ9.m4U-wYcS4EPcKe9nVXIbUA', data-attribution = '<a href="//www.openstreetmap.org/">OSM</a> | <a href="//www.mapbox.com/">Mapbox</a>')
        //- Serveurs de tuiles disponibles @see https://wiki.openstreetmap.org/wiki/Tile_servers
        //- Alternative : 'https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png'
        //- Zoom de 0 à 18
        //- @todo yarn add color -> color.lighten(0.2)
      script(src='/scripts/mapPlace.js')
    hr
    ul.list-stripe-links.grid3
      li
        a(href='/place/1') Place 1
      li
        a(href='/place/2') Place 2
      li
        a(href='/place/3') Place 3
      li
        a(href='/place/4') Place 4
      li
        a(href='/place/5') Place 5 (pas d'infos GPS)
      li
        a(href='/place/6') Place 6
      li
        a(href='/place/7') Place 7
      li
        a(href='/place/8') Place 8
      li
        a(href='/place/9') Place 9
      li
        a(href='/place/10') Place 10
      li
        a(href='/place/11') Place 11 (request failed)
      li
        a(href='/place/xyz') Place xyz (incorrect path)
